torch
torchvision
transformers==5.13.1
accelerate
huggingface_hub
pandas
openpyxl
xlsxwriter
pillow
numpy
requests
tqdm
tabulate
termcolor
portalocker
validators
sty
setuptools
openai
python-dotenv
google-genai
litellm==1.84.4
qwen_vl_utils
omegaconf
opencv-python
scipy
scikit-learn
scikit-image
matplotlib
einops
timm
sentencepiece
datasets
nltk
editdistance
anls
json_repair
timeout-decorator
tiktoken
Levenshtein
apted
colormath
distance
jieba
latex2sympy2-extended
math-verify
num2words
polygon3
pylatexenc
rouge
rouge-score
zss
lxml
protobuf
cairosvg
torchmetrics
bert_score
sentence-transformers
